.illnessCards {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
  padding: 20px;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .card {
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    height: 60px;
    width: 60%;
    min-width: 400px;
    cursor: pointer;
    border: 1px solid #f5f6f7;
    padding: 20px;
    filter: drop-shadow(-2px 4px 20px rgba(57, 71, 89, 0.04));
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      box-shadow: 4px 13px 50px 0px #3b39591f;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 15px;
    }
  }

  .recordsModal {
    width: 80vw;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .records {
      flex: 1;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 10px;
      padding: 20px 0;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .record {
        width: calc(50% - 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 10px;

        .left {
          display: flex;
          align-items: center;
          gap: 10px;

          .icon {
            width: 35px;
            height: 35px;
            border: 1px solid rgb(151, 146, 146);
            border-radius: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 20px;
              height: 20px;
            }
          }

          .name {
            font-weight: 500;
          }

          .hex {
            font-size: 14px;
          }
        }
        .shareAndDelete {
          display: flex;
          align-items: center;
          gap: 20px;

          svg {
            width: 30px;
            height: 22px;
            cursor: pointer;
          }
        }
      }
    }

    .create {
      width: 70%;
      height: 50px;
      border-radius: 10px;
      background-color: rgb(55, 112, 255);
      color: white;
      margin: 5px auto 0 auto;

      font-size: 22px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }
    .inputFile {
      display: none;
    }

    .selectedRecord {
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      border: 1px solid black;
      border-radius: 10px;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          width: 35px;
          height: 35px;
          border: 1px solid rgb(151, 146, 146);
          border-radius: 10px;

          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .name {
          font-weight: 500;
        }
      }
      .shareAndDelete {
        display: flex;
        align-items: center;

        svg {
          // width: 30px;
          height: 22px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }

    .uploadOptions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .upload {
        width: 100px;
        height: 40px;
        border-radius: 10px;
        background-color: rgb(55, 112, 255);
        color: white;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
